// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.videoFormContainer{
  background-color: #fff;
  padding: 15px;
  margin: 5px auto;
  width: 960px;
  border-radius: 1px;
  border: 1px solid #D7D7D7;
  box-shadow: 0 0 1px #ddd;

  .thumbnail-container{
    display: none;
    width: 200px;
    height: 100%;
    content: "";
    float: left;
    margin-right: 20px;
    img{
      float: left;
      width: 200px;
      height: 110px;
      box-shadow: 0 0 2px #aaa;
      object-fit: cover;
    }
  }
  .videoForm{
    .errors{
      margin: 0;
    }
    float: right;
    width: 700px;
    form{
      position: relative;
      #dropVideo{
        transform: translateX(-120px);
      }
      #after-video{
        display: none;
      }

      .loading-animation{
        display: none;
        img{
          float: left;
          position: absolute;
          top: -65px;
          left: -80px;
        }
      }

      button[type="submit"]{
        float: right;
        background-color: #167AC6;
        border: 0;
        padding: 7px 40px;
        border-radius: 2px;
        font-weight: 500;
        letter-spacing: -0.5px;
        font-size: 11px;
        color: #fff;
        margin:  0 0 0 10px;
      }
      button.disabled{
        background-color: #ccc;
      }
      nav{
        display:block;
        width: 98%;
        padding: 10px;
        padding-bottom: 3px;
        border-bottom: 1px solid #ccc;
        div{
          float: left;
          button{
            box-sizing: border-box;
            border: 0;
            background-color: #fff;
            padding: 10px;
            margin-right: 10px;
            color: #7676A0;
          }
          button:hover, button:disabled{
            margin-bottom: -3px;
            color: #000;
            border-bottom: 3px solid #CC181E;
          }
        }
      }
      #basicForm{
        input{
          float: left;
          padding: 3px;
          width: 400px;
          display: block;
          margin: 10px;
          border: 1px solid #D9D9D9;
        }
        textarea{
          float: left;
          border: 1px solid #D9D9D9;
          resize: vertical;
          padding: 3px;
          width: 400px;
          display: block;
          margin: 10px;
          height: 70px;
        }
      }

      #dropThumb{
        display: none;
      }
      .dropForm{
        margin: 15px auto;
        width: 500px;
        padding: 5px;
        background-color: #eee;
        text-align: center;
        strong{
          font-size: 20px;
          font-weight: 600;
        }
        label{
          display: block;
          border: 3px dashed #aaa;
          font-size: 16px;
          color: #aaa;
          margin: 0 auto;
          text-align: center;
          padding: 80px 0;
        }
        input{
          display: none;
        }
      }
      .dropForm.is-dragover{
        background-color: #ddd;
        label{
          border: 3px dashed #90a0b1;
        }
      }
    }
  }
}
