html,body,main .content{
  height: 100%;
}

sidebar{
  display: none;
  position: fixed;
  width: 230px;
  top: 51px;
  z-index: 50;
  #burger-drop{
    box-shadow: 5px 0 20px rgba(100, 100, 100, 0.30);
    box-sizing: border-box;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-right: 1px solid #D7D7D7;
    float: left;
    padding: 10px;
    ul{
      display: flex;
      flex-direction: column;
      li{
        height: 30px;
        display: flex;
        vertical-align: middle;
        a{
          padding: 6px;
          display: flex;
          text-align: left;
          align-items: center;
          margin-left: 14px;
          i{
            margin-right: 10px;
            img{
              width: 18px;
              height: 18px;
            }
          }
        }
      }
      .divider{
        height: 1px;
        background-color: #ccc;
        margin: 7px auto;
        width: 100%;
      }
      .divider:last-child{
        display: none;
      }
      h1{
        color: #124507;
        margin: 0 10px 3px 0;
        text-transform: uppercase;
        font-size: 12px;
      }
      li:hover{
        background-color: #ddd;
      }

      li.selected{
        background-color: #18CC1E;
        color: #fff;
      }
    }
  }
}
