.carousel-container{
  height: 210px;
  background-color: #fff;
  margin: 5px auto;
  box-shadow: 0 0 3px #aaa;
  padding: 10px;
  .carousel{
    position: relative;
    .link{
      height: 180px;
    }
    button{
      background-color: transparent;
      position: absolute;
      height: 60px;
      border: 0;
      font-size: 16px;
      color: #aaa;
      cursor: pointer;
    }
    .slider-decorator-0 button{
      transform: translate(-15px, -43px);
    }
    .slider-decorator-1 button{
      transform: translate(-7px, -43px);
    }
    button:hover{
      box-shadow: 0 0 3px #aaa;
      width: 40px;
      height: 60px;
      background-color: #fff;
    }
    .slider-decorator-0 button:hover{
      box-shadow: -1px 0 2px #aaa;
      transform: translate(-33px, -43px);
    }
    .slider-decorator-1 button:hover{
      box-shadow: 1px 0 2px #aaa;
    }
    button.disabled{
      display: none;
    }
  }
}
