.carousel-container{
  height: 200px;
  background-color: #fff;
  margin: 5px auto;
  box-shadow: 0 0 3px #aaa;
  padding: 10px;
  .carousel{
    .link{
      height: 180px;
    }
    button{
      background-color: transparent;
      height: 40px;
      border: 0;
      font-size: 16px;
      color: #aaa;
    }
    .slider-decorator-0 button{
      transform: translateX(-15px);
    }
    .slider-decorator-1 button{
      transform: translateX(15px);
    }
    button:hover{
      box-shadow: 0 0 3px #aaa;
      width: 40px;
      color: #000;
      background-color: #fff;
    }
    .slider-decorator-0 button:hover{
      transform: translateX(-33px);
    }
    .slider-decorator-1 button:hover{
      transform: translateX(33px);
    }
  }
}
