// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.errors {
  color: #E16657;
  font-weight: 500;
  text-align: center;
  font-size: 16px;
  margin: 15px;
}



#root{
  main{
    .content{

      .main-content{
        margin-top: 55px;
      }
    }
  }
}
